{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi App{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-ant-path/dist/leaflet-ant-path.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <p style="text-align: right; margin-right: 100px; color: rgb(0, 0, 0);">Bienvenid@
            &nbsp;&nbsp;&nbsp;<em style="color: rgb(17, 17, 19);"> {{ user.username }}&nbsp;&nbsp;&nbsp;<img src="{% static 'img/espana.png' %}" width="30"
              height="30"></p>
{% else %}
    <p>No logueado</p>
{% endif %}
   
    <nav style="display: flex; align-items: center; justify-content: space-between; padding: 10px 20px; background-color: #bcb5b5;">
    <!-- Logo a la izquierda -->
    <div class="logo">
        <img src="{% static 'img/milogo.png' %}" alt="Logo" style="height: 200px;">
    </div>
        
                
                    <a href="/admin/" style="color: rgb(225, 8, 8); font-size: 0.9rem; margin-left: 15px; text-decoration: none;">Admin</a>
                    <a href="{% url 'home' %}" style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;">Inicio</a>
                    <a href="https://park4night.com/es" style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;" target="_blank" rel="noopener noreferrer">Park4night</a>
                    <a href="https://www.lulukabaraka.com/" style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;" target="_blank" rel="noopener noreferrer">Recambios</a>
                    <a href="{% url 'sobre_mi' %}" style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;">Sobre la App</a>
                    <a href="https://www.google.com/maps" style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;">Crea tu Ruta</a>
                  {% if user.is_authenticated %}
                    <a href="{% url 'c_sesion' %}"style="color: rgb(32, 29, 29); font-size: 0.9rem; margin-left: 15px; text-decoration: none;" >Cerrar sesión</a></li>
            
                  {% endif %}
                
            
        </div>
        </nav>
   

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        &copy; {{ now.year }} MyAutocaravApp. Todos los derechos reservados.
    </footer>
</body>
</html>


   
