{% extends 'viajes/base.html' %}
{% load static %}



{% block content %}
<div class="register-container" style="position: relative; text-align: center; height: 200vh; background-image: url('{% static "img/fondo6.jpg" %}'); background-size: cover; background-position: center;">
    <div class="register-box" style="background: rgba(255,255,255,0.85); display: inline-block; padding: 40px; border-radius: 10px; margin-top: 10%;">
        <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Nuevo Viaje</h2>

    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small>{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <label for="archivos">Archivos multimedia</label>
            <input type="file" name="archivos" id="archivos" multiple>
        </div>

        <button type="submit" class="btn-submit">Guardar viaje</button>
    </form>
</div>
{% endblock %}
